@import url('https://fonts.googleapis.com/css?family=Roboto: 100,200,300,400,500,600,700|Exo: 100,200,300,400,500,600,700');

/*============COLOURS*/

.bg-color-name-title{
    background-color: #4c6a6e;
}

.bg-color-three-reasons{
    background-color: #ffffff;
}

.ul-menu-color-home{
    background-color: #e67e22;
}
.ul-menu-color-resume{
    background-color: #2dbfab;
}
.ul-menu-color-contact{
    background-color: #3498db;
}
.ul-menu-color-download{
    background-color: #d445af;
}

/*============SPECIAL TEXT, MARGINS, PADDING ETC.*/


h1,
h2,
h3,
h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.general-sub{
    font-family: "Exo", sans-serif;
    font-weight: 300;
    color: #fafafa;
}

.inline-block{
    display: inline-block;
}

.section-column{
    padding:0 30px 30px;
    float: none;
    display: table-cell;
}
.row-table{
    display: table;
}
.section-heading {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 40px;
}

/*============HEADING*/
header {
    margin: 0;
}
.heading{
    margin-left: 50px;
}

.logo {
    background: url("../images/fabian-grohs-524350.jpg");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

.name{
    font-family: "Exo", sans-serif;
    font-weight: 100;
    font-size: 46px;
    margin-top: 50px;
    color: #ffffff;
}

.title{
    font-family: "Exo", sans-serif;
    font-weight: 100;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: #ffffff;
}
.list-inline>li{
    padding: 0;
}

#nav {
    margin:0;
}


.menuitem{
    height: 120px;
    text-align: center;
    padding: 0;
}

.menuitem a{
    width:100%;
    color: #ffffff;
    text-decoration: none;
    height:120px;
}

.menuitem a i {
    padding-top: 22px;
    color: #fafafa;
    display: block;
    font-size: 26px;
}

.menuitem span{
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    display: block;
    width: 100%;
    padding-top: 5px;
    letter-spacing: 2px;
}

/*============hover.css*/

.hvr-sweep-to-bottom:before {
    background-color: rgba(0,0,0,0.2);
    height: 120px;
}

/*============About me*/



/*============FOOTER*/

footer {
    background-color: #1b3a3ee0;
    color: #fafafa;
    min-height: 120px;
    margin: 0;
}

footer .cv-pdf i{
    color: #fafafa;
    text-align: center;
    font-size: 18px;
    padding-left: 5px;
}

footer .cv-pdf i:hover{
    color: #e67e22;
    transition: all 0.3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 16px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background-color: #4c6a6e;
    transition: all 0.3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.social-links li a i:hover {
    background-color: #e67e22;
}

#footer-details{
    margin: 20px;
}